/* MessagesComponent's private CSS styles */


button {
  font-family: Cambria, Georgia;
  &.clear {
    font-family: Arial;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  &:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  &.clear {
    color: #888;
    margin-bottom: 12px;
  }
}

span{
  color: white;
}

#messageList{
  overflow-y: scroll;
  height: 350px;
  width:400px;
}

#container{
  width: 500px;
}
