.cards{
  width: 200px;
  height: 110px;
  display: inline-block;
  margin: 10px;
  background-color: #4f8bbe;
}
.container{
  position: absolute;
  top: 137px;
  left: 100px;
  width: 50%;
}

.search{
  position: absolute;
  left: 600px;
  top: 120px;
}

.heroName{
  text-align: center;

}
h3{
  padding-left: 12px;
}
