<div class="container">
  <h2>My Heroes</h2>
  <div>
    <mdc-text-field id="addField" [box]="true" #heroName label="Hero Name">
      <mdc-icon trailing #demobox3icon>person</mdc-icon>
    </mdc-text-field>
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add" mdc-button [primary]="true" (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>

  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete" title="delete hero"
              (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>



