<div id="search-component">
  <form #heroForm>
    <mdc-text-field [box]="true"
                    label="Search Hero"
                    #searchBox
                    (keyup)="search(searchBox.value)"
                    id="searchHero">

    </mdc-text-field>
    <mdc-list [dense]="true" *ngIf="heroes$" id="searchList">
      <mdc-list-item *ngFor="let hero of heroes$ | async"
                     class="search-result"
                     routerLink="/detail/{{hero.id}}"
                     (click)="callAll(searchBox.value, hero.id)">
        {{hero.name}}
      </mdc-list-item>
    </mdc-list>
  </form>

</div>
